/* Contenedor de la cuadrícula */
.grid-container {
  display: grid;
  grid-gap: 5px; /* Espaciado entre los elementos */
  margin: auto;
}

/* Elementos dentro de la cuadrícula */
mat-grid-list {
  width: 100%;
  height: auto;
}

/* Cada celda dentro de la cuadrícula */
mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

/* Contenedor de cada icono dentro de la cuadrícula */
.gridItemContainer {
  width: var(--grid-width);
  height: var(--grid-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* Botón de mejora */
.upgrade-button {
  background-color: #3e3e3e;
  border: none;
  color: #e0cda9;
  font-weight: bold;
  width: 30px
}