<!--front\src\app\shared\item-icon\item-icon.component.html-->
<div class="container" 
  [style.width]="width" 
  [style.height]="height" 
  (click)="onLeftClick($event)" 
  (contextmenu)="onRightClick($event)"
  >
  
  <img *ngIf="backgroundImage" [src]="backgroundImage" class="background-image" />
  <img *ngIf="itemIcon" [src]="itemIcon" class="item-icon" />
  <img *ngIf="frameIcon" [src]="frameIcon" class="frame-icon" />

  <div *ngIf="topLeft && topLeft(item) !== ''" class="top-left textPrimaryFondoOscuro"> {{ topLeft(item) }} </div>
  <div *ngIf="topRight && topRight(item) !== ''" class="top-right textPrimaryFondoOscuro"> {{ topRight(item) }} </div>
  <div *ngIf="bottomLeft && bottomLeft(item) !== ''" class="bottom-left textPrimaryFondoOscuro"> {{ bottomLeft(item) }} </div>
  <div *ngIf="bottomRight && bottomRight(item) !== ''" class="bottom-right textPrimaryFondoOscuro"> {{ bottomRight(item) }} </div>
  

  <!--
      <item-icon-tooltip #tooltip>
    <div *ngIf="item" class="itemOverlay d-flex">
      <div class="d-flex flex-column">
        <p>{{ item.name || 'Sin nombre' + " - " + EquipType[item.equipType??0]}}</p>
      </div>
      <div class="d-flex flex-column">
        <p>Cantidad: {{ item.stock || 0 }}</p>
        <p>Precio Venta: {{ item.priceSell | formatMoney }}</p>
      </div>
      <div class="d-flex flex-column">
        <span *ngIf="item.effects">
          <span *ngFor="let effect of item.effects">
            <p *ngIf="effect">
              {{ effect.effect_name + ' : ' + effect.value }}
            </p>
          </span>
        </span>
      </div>
    </div>
  </item-icon-tooltip>
  -->
</div>