 /* src\app\components\common\Item-Grid-display\ItemGrid.component.css */
 .grid-container {
  display: inline-grid;
}

.gridItemContainer {
  height: var(--grid-height);
  width: var(--grid-width);
}
