<mat-toolbar color="primary">
  <span>Monster Game Fight</span>
  <span class="spacer"></span>

  <button mat-button routerLink="/game">Dashboard</button>
  <button mat-button routerLink="/game/character">Personaje</button>
  <button mat-button routerLink="/game/combat">Combate</button>
  <button mat-button routerLink="/game/messages">Mensajes</button>
  <button mat-button routerLink="/game/shop">Tienda</button>


  <ng-container *ngIf="!isAuthenticated">
    <button mat-button routerLink="/auth/login">Login</button>
    <button mat-button routerLink="/auth/register">Registro</button>
  </ng-container>

  <button *ngIf="isAuthenticated" mat-button color="warn" (click)="logout()">Logout</button>

</mat-toolbar>
